Description=backend

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/java -jar /home/ec2-user/core-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target
